div.punchcard-common {
    width: 90%;
    background-color: #fff;
    border: thin;
    border-style: solid;
    border-color: #5f6a70;
    border-radius: 0;
    margin: 10px;
    padding: 0;
    float: left;
    box-shadow: 5px 5px 5px #99b3bf;
    position: relative;
}


div.controls {
    position: absolute;
    right: 0;
    top: 0;
    background-color: none;
}

div.controls button {
    margin-bottom: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-left: 0;
}

div.hidden {
    display: none;
}