/* the tooltip that you get onhover*/
.punchcard-tooltip {
    background-color: #f3e379;
    border: 1px solid #edd433;
    border-radius: 5px;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 100px;
}
